/* cONFIGURAÇÕES GERAIS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

html, body{
    height: 100vh;
}
header{
    width: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
}



